/* Generall CSS */

body, html {
	height: 100%;
}

body {
	
}

#main {
	
}

@media screen and (max-width:720px) {
	#map {
		max-width: 100%;
		height: 100%;
		width: 500px;
		height: 100px;
	}
}

@media screen and (max-width:1300px) {
	#map {
		max-width: 80%;
		max-height: 100%;
		width: 1000px;
		height: 400px;
	}
}

@media screen and (min-width:1300px) {
	#map {
		max-height: 80%;
		max-height: 80%;
		width: 1200px;
		height: 600px;
	}
}

.panel-heading {
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */

  	/* No support for these yet, use at own risk */
 	-o-user-select: none;
  	user-select: none; 	
}